/*ALLGEMEIN */

* {
	max-width: 960px;
	margin: 0;
	padding: 0;
	font-size: 1em;

	font-family: Levenim MT;
	}

/* für Button*/
.box{
	width: 450px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	}


#navigation{
max-width: 960px;
	width: 100%;
	height: 150px;
	background-color: rgba(244, 249, 153, 0.901);
}

#wrapper{
	max-width: 960px;
	height: 900px;
	margin: 5px;
	}

 #banner {
 	max-width:960px;
	max-width:100%;
 	max-height: 100%;
	 height: 100%;
 	z-index: 0;
 	background:url("Bilder/IMG_1306.JPG");
 	background-size: cover;
	opacity: 0.; 
 	}

#banner h2{
	max-width: 960px;
	max-width: 100%;
 	padding-top: 225px;
 	text-align: center;
 	color:#c60505;
 	font-size: 6em;
 	font-family: Streetwear;
  }	





button {
	float:inherit;
	margin-top: 2px;
	padding: 2px 10px;
	color: #0a429e;
	background-color: #ffd700;
	box-shadow: 0px 17px 10px -7px rgba(0, 0, 0, 0.4);
	border: solid 3px #006400;
	border-radius: 3px;
	font-size:20px;
	text-align: center;
	transition: ease-in-out all 300ms;
	

}

button:hover {
	color: #006400;
	background-color: #FFF;
	
}


body {
	margin: 5px;
	max-width: 960px;
	max-width: 100%;
	margin: 5px;
}




#logo {
	display: block;
	margin: 10px;
	width: 40%;
	height: 50%;
	height: 80px;
	background: url(Logo.jpg);
	background-size: cover;
	margin-left: auto;
	margin-right: auto; 
} 



#Home_Top h2{
	max-width: 970px;
	padding-top: 0px;
	text-align: left;
	color: #180999;
	background-color: white;
	font-size: 1.5em;
	font-family: Streetwear;  
}

#Home_Top p{
	padding-top:20px;
	color:currentColor;
	font-size: 1.5em;
}

#Home_Top a{
	padding-top:0	px;
	color:blue;
	font-size: 1.5em;
	font-weight: bold;
		}
