/*ALLGEMEIN */

* {
	margin: 0;
	padding: 0;
	font-size: 1em;

	font-family: Streetwear;
	box-sizing: border-box;
}


body {
	margin: 5px;
}



wrapper {
	max-width: 960px;
	max-width: 95%;
	margin: 0 auto;
}



table_verein p4{
    max-width: 900px;
    border: 1px solid red;
    background-color: #efefef33;
    padding: auto;
    overflow: auto;
    margin: auto;
    border-radius: 10px;
}




.table_verein {
/*	font-size: 1.5em; */
/*	width: 960px; */
	/*	min-width: 800px; */
	max-width:600px; 
	border: 2px solid red;
	background-color:#efefef33;
	padding: auto; 
	overflow:hidden; 
	overflow: auto; 
	margin: auto; 
	border-radius: 10px;


}




table {
	max-width: 960px;
	font-size: 1em;
	color: #444;
	white-space: nowrap;
	border-collapse: collapse;
}

table > thead {
	background-color: gold;
	color: #1a931a;
}

table > thead th {
	padding: 15px;
	font-size: 1em;
}

table th, table td {
	size: 1em;
	border: 1px solid #e7b912;
	padding: 5px 5px;
	/*padding: 10px 15px; */
}

table > tbody > tr > td > img {
	display: inline-block;
  	height: 100%;
	width: 120px;
	height: 150px;
	object-fit: cover;
/*	border-radius: 50%; */
	border: 3px solid #fff;
	box-shadow: 0 2px 6px #0003;
}

table > tbody > tr {
	background-color: #fff;
	transition: 0.5s ease-in-out;
}


table tbody tr.active {
	font-size: 1em;
	font-weight: bold;
	color: #85670e;
	background-color: #efefcc
}



.ImpresT{
	max-width: 900px;
	max-width: 90%;
	margin: 0 auto;
}




/*Navigation*/


#navigation {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100px;

	background-color: rgba(244, 249, 153, 0.824)
}

#logo {
	top: 55;
	width: 50px;
	height: 150px;
	float: left;
	margin: 20px;
}


/* #logo p {
 	font-family: Streetwear;
 	font-size: 1eft;
 	line-height: 2.5;
 	
 	color: #274e71;
   	}	*/

#logo {
	width: 30%;
	height: 72px;
	background: url(Logo.jpg);
	background-size: cover;
}

#menu {
	float: right;
	margin-top: 44px;
	margin-right: 30px;
}

#menu a {
	padding-right: 30px;
	padding-top: 35px;
	text-decoration: none;
	color: #082b8b;
	font-weight: 700;
}

#menu a:hover {
	border-top: solid white 50px;
}

#banner {
	width: 100%;
	height: 700px;
	z-index: 0;

	background: url(Hintergrund.jpg);
	background-size: cover;
}

#banner h1 {
	padding-top: 250px;
	text-align: center;
	color: #ffff00;
	font-size: 6em;
	font-family: Streetwear;

}

#content {
	margin-top: 50px;
}

 html {
	text-align: left;
} 

button {
	margin-top: 23px;
	padding: 2px 10px;
	color: #0a429e;
	background-color: #ffd700;
	box-shadow: 0px 17px 10px -7px rgba(0, 0, 0, 0.4);
	border: solid 3px #006400;
	border-radius: 5px;
	font-size: 30px;

	transition: ease-in-out all 300ms;

}

button:hover {
	color: #006400;
	background-color: #FFF;
}

transfor: translate(0px, 10px);

box-shadow: 0px 30px 15px -10px rgba(0, 0, 0, 0.2) h1 {
	color: red;
	background-color: green
}

h2 {
	color: blue;
	background-color: #46c22d
}

p {
	color: navy;
	text-align: left;
}

/*
#logo {
	width: 0px;
	height: 60px;
	float: left;
	margin: 20px;
	}
#logo p{
	font-family: Streetwear;
	font-size: 3em;
	line-height: 1.5;
	}	
 	*/


#Vorst h2 {
	max-width: 960px;
	padding-top: 20px;
	text-align: left;
	color:#180999;  
	background-color: white;
	font-size: 1.5em;
	font-family: Streetwear;
}

#Vorst p {
	max-width: 960px;
	padding-top: 20px;
	text-align: left;
	color: #0c0c0c;
	font-size: 1.5em;
	font-family: Streetwear;
}

#Vorst a {
	color: #8b3a08;
	text-align: start;
	font-size: 1em;
	
}